<div class="wizzy-quick-view-modal">
  <button class="wizzy-quick-view-close-button">
    <a href="wizzy-shopify-app/templates/shopify/wizzy-search-filters/extensions/wizzy-search-filters/snippets/wizzy_search_modal#"
      class="wizzy-search-clear">
      <span class="wizzy-icon"></span>
    </a>
  </button>

  <div class='wizzy-img-container'>
    <div class='wizzy-img-container-main'>
    
    </div>

    <div class='wizzy-img-container-other-image'>
      
    </div>
  </div>

  <div class='wizzy-details-container'>
    <div class='wizzy-quick-view-title'>
        <p>Heart Snack Plate</p>
    </div>

    <div class='wizzy-quick-view-reviews'>
              
    </div>

    <div class='wizzy-price-container'>
    <div class='wizzy-quick-view-price'>
    
    </div>

    <div class='wizzy-quick-view-original-price'>
    
    </div>
    </div>

    <div class='wizzy-quick-view-varient-container'>
    <button>Option 1</button>
    <button> Option 2</button>
    <button> Option 3</button>
    <button> Option 4</button>
    </div>

    <div class='wizzy-quick-view-quantity-container'>
     <p>Quantity</p>
      <div class='wizzy-quick-view-quantity-subcontainer'>
    <button class='wizzy-quick-view-decrease'>-</button>  <div class='wizzy-quick-view-quantity-display'> 1 </div> <button class='wizzy-quick-view-quantity-increase'>+</button>
      </div>
</div>

    <div class='wizzy-quick-view-actions'>
    <button class='wizzy-quick-view-add-to-cart atc'> ADD TO CART </button>
    <button class='wizzy-quick-view-add-to-cart ty'> ADDING.. </button>
    <a href='https://nestasia.in/cart/42615366615247:1?traffic_source=buy_now' class='wizzy-quick-view-buy-now'> BUY IT NOW </a>
    </div>


    
  </div>
</div>

<div class='wizzy-quick-view-overlay'></div>
