{% if page.metafields.custom.offer_categories !=blank %}
  <section class="offer-categories margin-30">
    <div class="container clearfix">

      {% if page.metafields.custom.offer_categories_heading !=blank %}
        <div class="twelve text-center offerHead">
          <h2>{{ page.metafields.custom.offer_categories_heading }}</h2>
        </div>
      {% endif %}

      <div class="tab-body divided_col">
        {% assign offercategories = page.metafields.custom.offer_categories %}
        {% assign collectionMaincontainer = offercategories | split: "::" %}
        {%- for technical_details in collectionMaincontainer %}
          {% assign collectionSubcontainer = technical_details | split: "|" %}
          <div class="six">
            <div class="categoryImg">
              <a href="{{ collectionSubcontainer[1] }}">
                <img src="{{ collectionSubcontainer[0] }}" alt="" width="100%"></a>
            </div>
          </div>
        {% endfor %}
      </div>

    </div>

  </section>

{% endif %}

{% schema %}
{
  "name": "Offer Catagories",
  "tag": "section",
  "settings": [],
  "blocks": [],
  "presets": [
    {
      "name": "Offer Catagories"
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}