<!doctype html>
{%- liquid
  assign rtl = false
  assign rtl_list = 'ae,ar,arc,bcc,bqi,ckb,dv,fa,glk,ha,he,kwh,ks,ku,mzn,nqo,pnb,ps,sd,ug,ur,yi'
  assign iso_code = localization.language.iso_code | split: '-' | first
  if rtl_list contains iso_code
    assign rtl = true
  endif
-%}
<html class="no-js" lang="{{ request.locale.iso_code }}" class="fonts-loading"{% if rtl %} dir="rtl"{% endif %}>
  <head>
    {%- liquid
      render 'head'
      echo content_for_header
      render 'javascript'
	-%}
  </head>
  <body id="main-body" class="no-js{% if rtl %} rtl{% endif %}">
    <div id="ajaxBusy"><div class="loader"></div></div>
    {%- liquid
      render 'noScript'
	-%}
    <div class="content" role="main">
      {%- liquid
        echo content_for_layout
      -%}
    </div>
    <div id="quick-modal" class="modal" aria-hidden="true">
      <div class="modal-overlay" tabindex="-1" data-micromodal-close>
        <div class="modal-container shopify-section" role="dialog" aria-modal="true" aria-labelledby="modal" >
          <div class="modal-content"></div>
          <button class="modal-close" aria-label="{{ 'layout.general.close' | t | escape }}" data-micromodal-close></button>
        </div>
      </div>
    </div>
  </body>
</html>