{% case icon %}
  {%- when 'profile-icon_sm' -%}
  <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12" fill="none"><path fill-rule="evenodd" clip-rule="evenodd" d="M8.22179 4.33328C8.22179 4.89318 7.98766 5.43015 7.57091 5.82606C7.15417 6.22197 6.58894 6.44439 5.99957 6.44439C5.4102 6.44439 4.84496 6.22197 4.42822 5.82606C4.01147 5.43015 3.77734 4.89318 3.77734 4.33328C3.77734 3.77338 4.01147 3.23641 4.42822 2.8405C4.84496 2.44459 5.4102 2.22217 5.99957 2.22217C6.58894 2.22217 7.15417 2.44459 7.57091 2.8405C7.98766 3.23641 8.22179 3.77338 8.22179 4.33328ZM7.11068 4.33328C7.11068 4.61323 6.99361 4.88171 6.78524 5.07967C6.57687 5.27762 6.29425 5.38883 5.99957 5.38883C5.70488 5.38883 5.42227 5.27762 5.21389 5.07967C5.00552 4.88171 4.88845 4.61323 4.88845 4.33328C4.88845 4.05333 5.00552 3.78484 5.21389 3.58689C5.42227 3.38893 5.70488 3.27772 5.99957 3.27772C6.29425 3.27772 6.57687 3.38893 6.78524 3.58689C6.99361 3.78484 7.11068 4.05333 7.11068 4.33328Z" fill="#4C4C4C"/><path fill-rule="evenodd" clip-rule="evenodd" d="M6 0C2.68636 0 0 2.68636 0 6C0 9.31364 2.68636 12 6 12C9.31364 12 12 9.31364 12 6C12 2.68636 9.31364 0 6 0ZM1.09091 6C1.09091 7.14 1.47982 8.18946 2.13164 9.02291C2.5894 8.42176 3.17995 7.93459 3.85715 7.59944C4.53435 7.2643 5.27986 7.09025 6.03545 7.09091C6.78127 7.0902 7.51741 7.25974 8.18778 7.58661C8.85815 7.91348 9.44507 8.38905 9.90382 8.97709C10.3764 8.35724 10.6946 7.63375 10.8321 6.8665C10.9696 6.09925 10.9224 5.31029 10.6945 4.5649C10.4665 3.81951 10.0643 3.13912 9.52117 2.58002C8.97805 2.02092 8.30959 1.5992 7.57112 1.34973C6.83264 1.10027 6.04538 1.03024 5.27447 1.14544C4.50356 1.26064 3.77116 1.55776 3.13787 2.01221C2.50459 2.46666 1.98862 3.06538 1.63267 3.75883C1.27672 4.45228 1.09101 5.22053 1.09091 6ZM6 10.9091C4.87306 10.9108 3.78015 10.5231 2.90618 9.81164C3.25796 9.30804 3.72618 8.89686 4.27101 8.6131C4.81584 8.32934 5.42116 8.18138 6.03545 8.18182C6.64209 8.18133 7.24008 8.32559 7.77978 8.60259C8.31947 8.8796 8.78529 9.28138 9.13855 9.77455C8.2578 10.5091 7.14686 10.9107 6 10.9091Z" fill="#4C4C4C"/></svg>
  {%- when 'profile-icon' -%}
    <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14"><title>user profile icon</title><path fill="currentcolor" fill-rule="nonzero" d="M7 0C3.138 0 0 3.138 0 7c0 3.684 2.855 6.706 6.47 6.978l.022.002c.168.012.337.02.508.02.171 0 .34-.008.508-.02l.022-.002C11.145 13.706 14 10.684 14 7c0-3.862-3.138-7-7-7zm0 .609A6.387 6.387 0 0 1 13.391 7c0 1.75-.702 3.331-1.838 4.484-.521-.323-1.256-.4-1.801-.581-.616-.204-1.349-.517-1.535-.86.736-.093 2.435-.407 2.435-1.1a.304.304 0 0 0-.1-.225c-.21-.19-.197-1.18-.188-1.975.019-1.512.04-3.225-.845-4.09-.348-.34-.805-.513-1.358-.515-.282-.195-.687-.305-1.15-.305h-.005c-3.173.228-3.25 3.19-3.3 5.149-.02.737-.04 1.572-.255 1.762a.305.305 0 0 0-.103.228c0 .66 1.222.916 2.435 1.071-.172.356-1.206.71-1.826.914-.538.177-1.05.216-1.514.524A6.368 6.368 0 0 1 .61 7 6.387 6.387 0 0 1 7 .609z"></path></svg>
  {%- when 'reward-icon' -%}
    <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 15 15" fill="none"><path d="M13 3.5H2C1.44772 3.5 1 3.94772 1 4.5V7.5C1 8.05228 1.44772 8.5 2 8.5H13C13.5523 8.5 14 8.05228 14 7.5V4.5C14 3.94772 13.5523 3.5 13 3.5Z" stroke="#4C4C4C" stroke-width="1.18182" stroke-linecap="round" stroke-linejoin="round"/><path d="M12.999 8.5V13C12.999 13.2652 12.8937 13.5196 12.7061 13.7071C12.5186 13.8946 12.2642 14 11.999 14H2.99902C2.73381 14 2.47945 13.8946 2.29192 13.7071C2.10438 13.5196 1.99902 13.2652 1.99902 13V8.5M7.49902 3.5V14M7.49902 3.5L10.499 1M7.49902 3.5L4.49902 1" stroke="#4C4C4C" stroke-width="1.18182" stroke-linecap="round" stroke-linejoin="round"/></svg>
  {%- when 'order-icon' -%}    
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><defs><style>.cls-1{fill:#231f20;}</style></defs><title/><g id="Cart"><path class="cls-1" d="M27.9863,8.1523l-2,12.0352A.9791.9791,0,0,1,25,21H11.2866c-.0112.0029-.0185.0117-.03.0146A1.011,1.011,0,0,1,11,21.0479H11a1.0055,1.0055,0,0,1-.3242-.0547,1.1275,1.1275,0,0,1-.1294-.0694,1.099,1.099,0,0,1-.1553-.084,1.0988,1.0988,0,0,1-.1015-.1074,1.0051,1.0051,0,0,1-.12-.1308,1.0255,1.0255,0,0,1-.0659-.1446.9277.9277,0,0,1-.0693-.1523L6.231,6H4A1,1,0,0,1,4,4H7a1,1,0,0,1,.9663.7432L8.5664,7H27a.9981.9981,0,0,1,.7627.3535A.9735.9735,0,0,1,27.9863,8.1523ZM13,22a2,2,0,1,0,2,2A2,2,0,0,0,13,22Zm10,0a2,2,0,1,0,2,2A2,2,0,0,0,23,22Z"/></g></svg>
  {%- when 'wishlist-icon' -%}
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="14" viewBox="0 0 16 14"><title>wishlist icon</title><path fill="currentcolor" d="M4.472 0C2.006 0 0 1.963 0 4.375c0 4.967 5.743 7.419 7.697 9.012l.215.179.215-.179c1.954-1.593 7.697-4.045 7.697-9.012C15.824 1.963 13.817 0 11.352 0c-1.395 0-2.62.648-3.44 1.63C7.092.648 5.867 0 4.472 0z"> </path></svg>
  {%- when 'logged-out-icon' -%}
    <svg xmlns="http://www.w3.org/2000/svg" width="13" height="14" viewBox="0 0 13 14"><path fill="currentcolor" fill-rule="nonzero" d="M6.492.552a.552.552 0 0 0-.534.568v6.16c-.002.202.1.39.269.492a.526.526 0 0 0 .546 0 .564.564 0 0 0 .269-.492V1.12a.57.57 0 0 0-.16-.404.533.533 0 0 0-.39-.164zM3.79 1.24a.528.528 0 0 0-.245.065C1.443 2.416 0 4.674 0 7.28 0 10.985 2.917 14 6.5 14S13 10.985 13 7.28c0-2.605-1.443-4.864-3.545-5.976a.533.533 0 0 0-.73.244.57.57 0 0 0 .237.753c1.752.928 2.955 2.8 2.955 4.979 0 3.1-2.42 5.6-5.417 5.6-2.998 0-5.417-2.5-5.417-5.6 0-2.178 1.203-4.051 2.955-4.979a.566.566 0 0 0 .287-.634.545.545 0 0 0-.535-.428z"></path></svg>
  {%- when 'search-icon' -%}
    <svg version="1.2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 40" width="40" height="40"><path id="Shape 2" class="header-search-icon" d="m26 26l13 13m-23-9c-7.7 0-14-6.3-14-14 0-7.7 6.3-14 14-14 7.7 0 14 6.3 14 14 0 7.7-6.3 14-14 14z"/></svg>
  {%- when 'user-icon' -%}
    <svg version="1.2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 36 41" width="36" height="41">
      <path id="Shape 2" class="header-user-icon" d="m-58 27l13 13m-23-9c-7.7 0-14-6.3-14-14 0-7.7 6.3-14 14-14 7.7 0 14 6.3 14 14 0 7.7-6.3 14-14 14z"/>
      <path id="Shape 5" class="header-user-icon" d="m46 53h38v27.8h-38z"/>
      <path id="Shape 6" class="header-user-icon" d="m57 61v-10c0 0 7.5-13.3 15.9 0l0.1 10"/>
      <circle id="Shape 3" class="header-user-icon" cx="18" cy="12" r="10"/>
      <path id="Shape 4" class="header-user-icon" d="m2 41c0 0-2.3-16.4 17-17 0 0 12.6-1.3 16 17"/>
    </svg>
  {%- when 'cart-icon' -%}
  <svg version="1.2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 39" width="40" height="39">
    <path id="Shape 2" class="header-cart-icon" d="m-103 26l13 13"/>
    <path id="Shape 2" class="header-cart-icon" d="m-113 30c-7.7 0-14-6.3-14-14 0-7.7 6.3-14 14-14 7.7 0 14 6.3 14 14 0 7.7-6.3 14-14 14z"/>
    <path id="Shape 5" class="header-cart-icon" d="m1 10h38v27.8h-38z"/>
    <path id="Shape 6" class="header-cart-icon" d="m12 18v-10c0 0 7.5-13.3 15.9 0l0.1 10"/>
    <circle id="Shape 3" class="header-cart-icon" cx="-27" cy="11" r="10"/>
    <path id="Shape 4" class="header-cart-icon" d="m-43 40c0 0-2.3-16.4 17-17 0 0 12.6-1.3 16 17"/>
  </svg>
  {%- when 'plus-icon' -%}
    <svg xmlns="http://www.w3.org/2000/svg" width="24" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6"><path stroke-linecap="round" stroke-linejoin="round" d="M12 6v12m6-6H6" /></svg>
  {%- when 'minus-icon' -%}
    <svg xmlns="http://www.w3.org/2000/svg" width="24" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6"><path stroke-linecap="round" stroke-linejoin="round" d="M18 12H6" /></svg>

  {%- when 'left-arrow-icon' -%}
    <svg xmlns="http://www.w3.org/2000/svg" width="35.81" height="13.534" viewBox="0 0 35.81 13.534">
      <g id="Group_8399" data-name="Group 8399" transform="translate(0.418 0.37)">
        <rect id="Rectangle_34" class="left-arrow-icon" data-name="Rectangle 34" width="1.386" height="33.847" transform="translate(35.193 5.704) rotate(90)" fill="#535252" stroke="#535252" stroke-width="0.4"/>
        <path id="Path_346" class="left-arrow-icon" data-name="Path 346" d="M11.924,0,6.4,7.4.87,0,0,.493,6.4,9.062l6.4-8.568Z" transform="translate(9.062) rotate(90)" fill="#535252" stroke="#535252" stroke-width="0.5"/>
      </g>
    </svg>
    {%- comment -%}
    <svg version="1.2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 36 22" width="36" height="22">
      <path id="Shape 1" class="left-arrow-icon" d="m36 11.9l-35 0.2v-2l35-0.2z"/>
      <path id="Shape 2" class="left-arrow-icon-new" d="m15.1 21l-13.1-9.9 12.9-10.1"/>
    </svg>
    {%- endcomment -%}
  {%- when 'right-arrow-icon' -%}
    <svg xmlns="http://www.w3.org/2000/svg" width="35.81" height="13.534" viewBox="0 0 35.81 13.534">
      <g id="Group_8398" data-name="Group 8398" transform="translate(8.937 0.37)">
        <rect id="Rectangle_34" class="right-arrow-icon" data-name="Rectangle 34" width="1.386" height="33.847" transform="translate(25.11 5.704) rotate(90)" fill="#535252" stroke="#535252" stroke-width="0.4"/>
        <path id="Path_346" class="right-arrow-icon" data-name="Path 346" d="M11.924,9.062,6.4,1.66.87,9.062,0,8.568,6.4,0l6.4,8.568Z" transform="translate(26.456) rotate(90)" fill="#535252" stroke="#535252" stroke-width="0.5"/>
      </g>
    </svg>
  {%- when 'right-arrow-icon-white' -%}
    <svg xmlns="http://www.w3.org/2000/svg" width="35.81" height="13.534" viewBox="0 0 35.81 13.534">
      <g id="Group_8398" data-name="Group 8398" transform="translate(8.937 0.37)">
        <rect id="Rectangle_34" class="right-arrow-icon" data-name="Rectangle 34" width="1.386" height="33.847" transform="translate(25.11 5.704) rotate(90)" fill="#fff" stroke="#fff" stroke-width="0.4"/>
        <path id="Path_346" class="right-arrow-icon" data-name="Path 346" d="M11.924,9.062,6.4,1.66.87,9.062,0,8.568,6.4,0l6.4,8.568Z" transform="translate(26.456) rotate(90)" fill="#fff" stroke="#fff" stroke-width="0.5"/>
      </g>
    </svg>
            
  {%- when 'gift-text' -%}
  <svg class="gift-text-icon" version="1.2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 57 49" width="57" height="49">
    <path id="Path_1451" class="s0" d="m26.6 15.8h-0.1q-0.1 0-0.3 0c-0.2-0.1-0.6-0.1-1.1-0.2q-0.2 0-0.4 0-0.2-0.1-0.4-0.1-0.2-0.1-0.4-0.1-0.2-0.1-0.4-0.1-0.5-0.1-1-0.3-0.5-0.2-1.1-0.4-0.6-0.2-1.2-0.5-0.6-0.3-1.2-0.7-0.1-0.1-0.3-0.2-0.2-0.1-0.3-0.3-0.2-0.1-0.3-0.2-0.2-0.1-0.3-0.2-0.2-0.2-0.3-0.3-0.2-0.2-0.4-0.3-0.1-0.2-0.3-0.3-0.1-0.2-0.3-0.4 0-0.1-0.1-0.2-0.1-0.1-0.2-0.2 0-0.1-0.1-0.2-0.1-0.1-0.1-0.2-0.1-0.1-0.2-0.2 0-0.1-0.1-0.2-0.1-0.2-0.1-0.3-0.1-0.1-0.1-0.3-0.2-0.3-0.3-0.6-0.1-0.3-0.1-0.6-0.1-0.4-0.1-0.7 0-0.3 0-0.7 0-0.1 0.1-0.3 0-0.2 0-0.4 0.1-0.1 0.1-0.3 0-0.2 0.1-0.4 0.1-0.1 0.1-0.3 0.1-0.1 0.2-0.3 0-0.1 0.1-0.3 0.1-0.1 0.2-0.3l0.2-0.2v-0.1l0.1-0.1 0.1-0.1q0-0.1 0.1-0.1l0.2-0.3q0.1-0.1 0.2-0.2 0-0.1 0.1-0.2 0.1-0.1 0.2-0.2 0.2-0.1 0.3-0.2 0.2-0.2 0.5-0.4 0.2-0.2 0.5-0.3 0.3-0.2 0.6-0.3 0.3-0.2 0.6-0.3 0.2 0 0.4-0.1 0.2 0 0.4 0 0.2-0.1 0.4-0.1 0.1 0 0.3 0 0.2 0 0.4 0 0.2 0 0.4 0 0.1 0.1 0.3 0.1 0.2 0 0.4 0.1 0.1 0 0.3 0.1 0.1 0 0.3 0.1 0.1 0.1 0.3 0.1 0.1 0.1 0.3 0.2 0.1 0 0.2 0.1 0.2 0.1 0.3 0.2 0.1 0.1 0.2 0.1 0.1 0.1 0.2 0.2 0.2 0.2 0.4 0.3 0.2 0.2 0.4 0.4 0.1 0.2 0.3 0.3 0.2 0.2 0.3 0.4 0.3 0.4 0.5 0.8 0.2 0.3 0.4 0.7 0.1 0.1 0.2 0.3 0.1 0.2 0.2 0.4 0 0.1 0.1 0.3 0.1 0.2 0.1 0.4 0.2 0.3 0.3 0.6 0.1 0.3 0.2 0.6 0.1 0.4 0.1 0.7 0.1 0.3 0.2 0.6 0 0.3 0 0.6 0.1 0.3 0.1 0.5 0 0.3 0.1 0.6 0 0.3 0 0.5 0 0.2 0 0.4 0 0.3 0 0.5 0 0.2 0 0.4 0 0.2 0 0.4c-0.1 0.5-0.1 0.8-0.2 1.1 0 0.1 0 0.3 0 0.3q0 0 0 0.1 0 0 0 0 0 0 0 0 0 0.1 0 0.1h-0.3l-0.1-0.3c-0.1-0.3-0.1-0.6-0.3-1q-0.1-0.7-0.4-1.5-0.3-0.9-0.7-1.9-0.1-0.3-0.2-0.6-0.1-0.3-0.3-0.5-0.1-0.3-0.2-0.6-0.2-0.2-0.3-0.5-0.2-0.3-0.4-0.5-0.1-0.3-0.3-0.6-0.2-0.3-0.4-0.5-0.2-0.3-0.4-0.5-0.1-0.1-0.3-0.3-0.1-0.1-0.2-0.2-0.1-0.1-0.3-0.2-0.1-0.1-0.2-0.2-0.2-0.1-0.3-0.2-0.2-0.1-0.3-0.2-0.2 0-0.3-0.1-0.2 0-0.3-0.1-0.2 0-0.4 0-0.1-0.1-0.3-0.1-0.2 0-0.3 0.1-0.2 0-0.3 0.1-0.2 0-0.4 0.1-0.1 0.1-0.3 0.1-0.1 0.1-0.2 0.2-0.2 0.1-0.3 0.3-0.1 0-0.1 0.1-0.1 0-0.1 0.1-0.1 0.1-0.2 0.1 0 0.1-0.1 0.2-0.1 0.1-0.2 0.2l-0.1 0.1v0.1l-0.1 0.1q-0.1 0.1-0.2 0.3-0.1 0.1-0.1 0.3-0.1 0.2-0.1 0.3-0.1 0.2-0.1 0.3 0 0.2 0 0.4 0 0.1 0 0.3 0.1 0.2 0.1 0.3 0 0.2 0.1 0.3 0.1 0.2 0.1 0.3 0.1 0.2 0.2 0.3 0.1 0.2 0.1 0.3 0.1 0.2 0.2 0.3 0.2 0.3 0.4 0.5 0.2 0.3 0.5 0.5 0.2 0.3 0.4 0.5 0.3 0.2 0.5 0.4 0.2 0.2 0.5 0.4 0.2 0.2 0.4 0.4 0.3 0.2 0.5 0.3 0.2 0.2 0.5 0.4c1.2 0.8 2.3 1.4 3 1.9 0.8 0.4 1.2 0.6 1.2 0.6z"/>
    <path id="Path_1452" class="s0" d="m33.2 16.2c0 0 0.5-0.1 1.3-0.3 0.9-0.2 2.1-0.5 3.5-1q0.2-0.1 0.5-0.2 0.3-0.1 0.6-0.2 0.3-0.1 0.5-0.2 0.3-0.1 0.6-0.2 0.3-0.2 0.6-0.3 0.3-0.2 0.5-0.3 0.3-0.2 0.6-0.4 0.3-0.2 0.5-0.4 0.1-0.1 0.3-0.2 0.1-0.1 0.2-0.2 0.1-0.1 0.2-0.3 0.1-0.1 0.2-0.2 0.1-0.2 0.2-0.3 0.1-0.1 0.2-0.3 0-0.1 0.1-0.3 0-0.2 0.1-0.3 0-0.2 0-0.4 0-0.1 0-0.3 0-0.2 0-0.3-0.1-0.2-0.1-0.3l-0.1-0.2v-0.1-0.1q-0.1-0.1-0.2-0.3 0-0.1-0.1-0.1 0-0.1 0-0.2-0.1-0.1-0.1-0.2-0.1 0-0.1-0.1-0.1-0.2-0.2-0.3-0.1-0.1-0.2-0.3-0.1-0.1-0.3-0.2-0.1-0.1-0.2-0.2-0.2-0.1-0.3-0.2-0.2 0-0.3-0.1-0.2 0-0.3-0.1-0.2 0-0.3 0-0.2 0-0.4 0-0.2 0-0.3 0-0.2 0.1-0.3 0.1-0.2 0-0.4 0.1-0.1 0.1-0.3 0.1-0.1 0.1-0.3 0.2-0.1 0-0.3 0.1-0.1 0.1-0.3 0.2-0.3 0.2-0.5 0.4-0.3 0.1-0.5 0.3-0.3 0.2-0.5 0.5-0.3 0.2-0.5 0.4-0.2 0.2-0.4 0.4-0.2 0.3-0.4 0.5-0.2 0.2-0.4 0.4-0.2 0.3-0.4 0.5-0.7 0.9-1.2 1.6-0.5 0.7-0.9 1.3c-0.2 0.4-0.4 0.7-0.5 0.9l-0.2 0.3-0.2-0.1q0 0 0 0 0 0 0-0.1 0 0 0 0 0 0 0 0c0-0.1 0-0.2 0-0.4 0.1-0.2 0.1-0.6 0.2-1q0.1-0.2 0.1-0.5 0.1-0.2 0.1-0.4 0.1-0.2 0.1-0.4 0.1-0.2 0.2-0.4 0-0.2 0.1-0.5 0.1-0.2 0.2-0.5 0.1-0.3 0.3-0.5 0.1-0.3 0.2-0.5 0.2-0.3 0.3-0.6 0.2-0.3 0.4-0.6 0.1-0.3 0.3-0.5 0.2-0.3 0.4-0.6 0.1-0.1 0.2-0.3 0.2-0.1 0.3-0.3 0.1-0.1 0.2-0.3 0.2-0.1 0.3-0.2 0.3-0.3 0.6-0.6 0.3-0.3 0.7-0.6 0.2-0.1 0.4-0.2 0.2-0.2 0.4-0.3 0.2-0.1 0.4-0.2 0.3-0.1 0.5-0.2 0.1-0.1 0.3-0.1 0.1-0.1 0.2-0.1 0.2-0.1 0.3-0.1 0.2-0.1 0.3-0.1 0.2 0 0.3 0 0.2-0.1 0.3-0.1 0.2 0 0.4 0 0.1 0 0.3 0 0.2 0 0.4 0 0.1 0 0.3 0 0.2 0.1 0.4 0.1 0.2 0.1 0.3 0.1 0.2 0.1 0.4 0.1 0.2 0.1 0.3 0.2 0.2 0.1 0.4 0.1 0.1 0.1 0.3 0.2 0.3 0.2 0.5 0.4 0.3 0.3 0.5 0.5 0.3 0.2 0.5 0.5 0.2 0.3 0.3 0.5 0.1 0.1 0.2 0.3 0.1 0.1 0.1 0.2 0.1 0.1 0.2 0.3 0 0.1 0.1 0.2l0.1 0.3q0 0.1 0 0.1l0.1 0.1v0.1 0.1l0.1 0.1 0.1 0.3q0 0.1 0 0.3 0.1 0.2 0.1 0.3 0 0.2 0.1 0.4 0 0.1 0 0.3 0 0.2 0 0.4 0 0.1 0 0.3 0 0.2-0.1 0.4 0 0.2 0 0.3-0.1 0.4-0.2 0.7-0.1 0.3-0.3 0.6-0.1 0.3-0.3 0.6-0.2 0.2-0.4 0.5-0.1 0.1-0.2 0.2 0 0.1-0.1 0.2-0.1 0.1-0.2 0.2-0.1 0.1-0.2 0.2-0.1 0.1-0.2 0.2-0.1 0.1-0.2 0.1-0.1 0.1-0.2 0.2-0.1 0-0.2 0.1-0.2 0.1-0.4 0.3-0.2 0.1-0.4 0.2-0.2 0.1-0.4 0.2-0.2 0.1-0.4 0.2-0.1 0-0.3 0.1-0.2 0.1-0.4 0.1-0.2 0.1-0.3 0.2-0.2 0-0.4 0.1-0.7 0.2-1.4 0.3-0.6 0.1-1.2 0.2-0.6 0.1-1.2 0.1-0.5 0-1 0-0.2 0-0.4-0.1-0.2 0-0.4 0-0.3 0-0.5 0-0.2 0-0.4-0.1c-0.5 0-0.8-0.1-1.1-0.2q-0.1 0-0.2 0l-0.1-0.1z"/>
    <path id="Gifts" class="s0" aria-label="Gifts"  d="m10.6 39.4c1.9 0 4.4-0.4 6.6-0.9 0.2-0.1 0.3-0.1 0.3-0.4 0.1-0.5 0-0.7 0.3-2.8 0.5-3.4 0.5-3.8 1.3-3.8 0.2 0 0.2-0.4 0-0.4-2.4 0.1-4.4 0.1-7-0.1-0.2 0-0.3 0.5 0 0.5 2.9 0 3.2 0.4 2.7 3.5-0.3 2.9-1.1 3.7-3.2 3.7-4.6 0-7-4.4-6-11.1 0.7-5 3.5-8.2 7.4-8.2 2.9 0 4.8 2 5.6 5.2 0 0.1 0.2 0.1 0.3 0l0.5-4.3c0.1-0.4 0.1-0.6-0.2-0.7-1-0.5-3-1-4.9-1-5.9 0-11.3 4.2-12.3 10.2-1.1 6 1.9 10.6 8.6 10.6zm15.2-16.4c1.1 0 1.8-0.6 1.8-1.8 0-1-0.7-1.8-1.8-1.8-1.1 0-1.8 0.8-1.8 1.8 0 1.2 0.7 1.8 1.8 1.8zm-2.2 16.3c1.3 0 2.4-0.9 3.7-2.5 0.2-0.2-0.1-0.4-0.2-0.3-0.7 0.7-1.3 1.2-1.7 1.2-0.4 0-0.7-0.3-0.4-1.5l1.3-7.1c0.4-1.7 0-2.7-1.4-2.7-1.2 0-2.4 0.7-3.9 2.5-0.1 0.2 0.1 0.5 0.3 0.3 0.7-0.9 1.4-1.3 1.8-1.3 0.5 0 0.7 0.5 0.5 1.6l-1.3 6.7c-0.4 2-0.1 3.1 1.3 3.1zm22.4-12.7c-0.9 0.1-2.6 0.2-3.9 0.3l0.5-2.6c0-0.2-0.6-0.3-0.6-0.1-0.7 1.7-2 2.6-4.3 2.7-0.9 0.1-2.1 0.1-3.6 0.1l0.3-2c0.8-5.6 1.7-8.6 3.1-8.6 1.3 0 0 2.5 2.3 2.5 0.8 0 1.4-0.4 1.6-1.3 0.1-1-1-1.8-2.9-1.8-4 0-5.7 2-6.9 9.8-0.2 1.1-0.8 1.4-2.1 1.4-0.2 0-0.2 0.5 0 0.5 1.6 0 1.8 0.1 1.5 1.7l-1.6 11.3c-0.8 5.6-1 6.7-1.7 6.7-1.1 0 0-2.5-2-2.5-0.7 0-1.4 0.4-1.5 1.3-0.2 1 0.9 1.8 2.8 1.8 3 0 4.3-2 5.2-8.1l1.8-12c1.4 0 2.4 0 3.2 0 1.2 0 2 0.5 1.8 1.5l-1.3 6.8c-0.5 2.8 1 3.4 2.6 3.4 1.4 0 2.8-0.8 4.8-2.7 0.1-0.1-0.2-0.3-0.2-0.3-1.1 0.8-1.9 1.2-2.8 1.2-1.3 0-1.8-0.6-1.5-2.2l1.3-7.6c1.2 0.1 2.4 0.3 3.2 0.4 0.4 0.1 1-0.8 1.1-1.2 0-0.1-0.1-0.4-0.2-0.4zm3.4 12.8c2.9 0 4.8-2.2 5.1-3.9 0.6-3.4-5-4.2-4.5-7.3 0-0.4 0.4-1 1.1-1 2 0 1.1 2.4 3.1 2.4 0.6 0 1.3-0.5 1.4-1.4 0.2-1.1-1.1-1.9-3.1-1.9-2.5 0-4.5 1.7-4.8 3.3-0.6 3.5 4.9 4 4.5 7.4-0.2 0.8-0.5 1.3-1.2 1.3-1.9 0-1.8-2.6-3.4-2.6-0.7 0-1.3 0.5-1.5 1.3-0.1 1.3 1.4 2.4 3.3 2.4z"/>
  </svg>
  {%- when 'gift-box-icon' -%}
   <svg xmlns="http://www.w3.org/2000/svg" width="111.7" height="15.2" viewBox="0 0 111.7 15.2">
  <g id="Group_9155" data-name="Group 9155" transform="translate(-1308.3 -179.8)">
    <g id="Layer_1_1_" transform="translate(1307.5 179)">
      <path id="Path_2126" data-name="Path 2126" d="M12.948,2.838A1.84,1.84,0,0,0,11.11,1H9.884a1.838,1.838,0,0,0-1.532.824A1.837,1.837,0,0,0,6.821,1H5.6A1.835,1.835,0,0,0,4.229,4.064H1V7.74h.613v7.965h13.48V7.74h.613V4.064H12.476A1.829,1.829,0,0,0,12.948,2.838ZM9.884,1.613H11.11a1.225,1.225,0,1,1,0,2.451H8.659V2.838A1.227,1.227,0,0,1,9.884,1.613ZM4.37,2.838A1.227,1.227,0,0,1,5.6,1.613H6.821A1.227,1.227,0,0,1,8.046,2.838V4.064H5.6A1.227,1.227,0,0,1,4.37,2.838ZM1.613,4.676H6.821V7.127H1.613ZM6.821,15.092h-4.6V7.74h4.6Zm2.451,0H7.433V4.676H9.272V15.092Zm5.208,0h-4.6V7.74h4.6Zm.613-7.965H9.884V4.676h5.208Z" fill="#96865d" stroke="#96865d" stroke-width="0.4"/>
    </g>
  </g>
  </svg>
  {%- when 'close-icon' -%}
  <svg class="close-icon" version="1.2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 13 13" width="13" height="13">
      <style>
          .close-icon { fill: none;stroke: #000000 } 
      </style>
      <path id="Shape 2" class="close-icon" d="m0 13l13-13"/>
      <path id="Shape 1" class="close-icon" d="m0 0l13 13"/>
  </svg>
  {%- when 'correct-icon' -%}
  <svg version="1.2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 10" width="14" height="10">
      <style>
          .correct-icon { fill: none;stroke: #ffffff } 
      </style>
      <path id="Shape 2" class="correct-icon" d="m13 1l-1 1-8 7-3-5"/>
  </svg>
{% endcase %}