<div class="wizzy-search-summary-container">
    
    [[#total]]
        <p class="wizzy-summary-head">[[ total ]] Results found [[#query]]for <strong>"[[query]]"</strong>:[[/query]]</p>
    [[/total]]

</div>