<div class="wizzy-search-modal wizzy-search-mini-block" id="wizzy-search-modal-mini">
    <div class="wizzy-search-modal-overlay"></div>
    <div class="wizzy-search-modal-content">
        <form method="get" class="wizzy-search-form" id="wizzy-search-form">
            <div class="wizzy-search-form-wrapper">
                <div class="wizzy-search-form-mobile-wrapper"></div>
                <div class="wizzy-search-form">
                    <div class="wizzy-form-modal-elements">
                        <div class="wizzy-search-modal-input">
                              <div class="wizzy-search-icon"></div>
                            <input type="search" class="input-text search-query wizzy-search-input" id="wizzy-search-input-new"
                                   autoComplete="off" placeholder="Search"/>
                        </div>
                        <div class="wizzy-search-modal-close-icon"></div>
                    </div>
                    <a href="wizzy-shopify-app/templates/shopify/wizzy-search-filters/extensions/wizzy-search-filters/snippets/wizzy_search_modal#" class="wizzy-search-glass">
                        <span class="wizzy-icon"></span>
                    </a>
                    <a href="wizzy-shopify-app/templates/shopify/wizzy-search-filters/extensions/wizzy-search-filters/snippets/wizzy_search_modal#" class="wizzy-search-back">
                        <span class="wizzy-icon"></span>
                    </a>
                    <a href="wizzy-shopify-app/templates/shopify/wizzy-search-filters/extensions/wizzy-search-filters/snippets/wizzy_search_modal#" class="wizzy-search-clear">
                        <span class="wizzy-icon"></span>
                    </a>
                </div>
            </div>
        </form>
    </div>
</div>