<div class="wizzy-filters-selected-facets-block">
    <ul class="wizzy-selected-facet-list wizzy-selected-facet-list-one-line">
    <li class='mobile-custom-wizzy-clear-all'>
      <span class="wizzy-selected-facet-list-item-label">
        <span class="facet-item-label-value wizzy-filters-clear-all">Clear All</span>
      </span>
      <span class="wizzy-selected-facet-delete"></span>
      </li>
        [[#items]]
            [[&html]]
        [[/items]]
    </ul>


<svg class="wizzy-selected-facet-list-svg" width="33" height="33" viewBox="0 0 33 33" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M33 16.5C33 25.6127 25.6127 33 16.5 33C7.3873 33 0 25.6127 0 16.5C0 7.3873 7.3873 0 16.5 0C25.6127 0 33 7.3873 33 16.5Z" fill="#F2F2F2"/>
<path d="M11 13.5929C11 13.7436 11.0565 13.8943 11.1775 14.0132L16.0735 18.8275C16.3074 19.0575 16.6946 19.0575 16.9285 18.8275L21.8246 14.0132C22.0585 13.7832 22.0585 13.4025 21.8246 13.1725C21.5907 12.9425 21.2035 12.9425 20.9696 13.1725L16.501 17.5664L12.0324 13.1725C11.7985 12.9425 11.4114 12.9425 11.1775 13.1725C11.0565 13.2835 11 13.4422 11 13.5929Z" fill="#999999"/>
</svg>

</div>