    <li class="wizzy-selected-facet-list-item [[#isSwatch]]facet-has-swatch[[/isSwatch]]" data-facetKey="[[facetKey]]"
        data-key="[[ key ]]" data-term="[[& label ]]" title="[[& label ]]">
    <span class="wizzy-selected-facet-list-item-label">


        [[#isSwatch]]
<span class="wizzy-facet-item-swatch-wrapper [[#isVisualSwatch]]facet-visual-swatch[[/isVisualSwatch]]
    [[^isVisualSwatch]]facet-text-swatch[[/isVisualSwatch]]">
    <span class="wizzy-facet-item-swatch [[#isVisualSwatch]]facet-visual-swatch[[/isVisualSwatch]]
        [[^isVisualSwatch]]facet-text-swatch[[/isVisualSwatch]]"
          style="[[#isVisualSwatch]][[#isURLSwatch]]background-image:url([[swatchValue]]);[[/isURLSwatch]]
            [[^isURLSwatch]]background-color:[[swatchValue]];[[/isURLSwatch]][[/isVisualSwatch]]">
        [[#value]]
            <span class="wizzy-facet-swatch-individual-value">[[value]]</span>
        [[/value]]
        [[^isVisualSwatch]]
            <span class="wizzy-facet-swatch-value">[[swatchValue]]</span>
        [[/isVisualSwatch]]
    </span>
</span>
[[/isSwatch]]



  <span class="facet-item-label-value"> [[# labelKey ]] <span class="facet-item-label-value-id">[[& labelKey ]] :</span> [[/ labelKey ]] [[& label ]] </span>
    </span>
        <span class="wizzy-selected-facet-delete"></span>
    </li>